@font-face {
    font-family: 'Poppins';
    src: url('css/Poppins-Medium.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 34px !important;
    letter-spacing: 0em;
    text-align: left;
}

h2 {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F4F4F;
}

.main {
    max-width: 1600px;
    margin: auto;
    background: #fff;
    display: flex;
}

.google-logo-part {
    width: 70px;
    height: 50px;
}

#myLinks {
    width: 100%;
    display: block;
    margin: 30px 0;
    text-align: right;
}

#myLinks .logo-img {
    margin: 0 3px;
}

#myLinks .active {
    color: #FFA600;
}

header {
    width: 100%;
    margin: auto;
    background: #fff;
}

#seo-blog {
    padding: 0 58px;
}

.fa {
    display: none !important;
}

#myLinks a {
    color: #353535;
    text-decoration: none;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

.topnav {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

.hanvergbtn {
    margin: 25px 13px;
    color: black !important;
}

.advs-left {
    width: 20%;
    max-width: 300px;
    margin: 0 27px;
}

.advs-txt {
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}

.advs-right {
    width: 20%;
    max-width: 300px;
    margin: 0 27px;
}

.advs-left img,
.advs-right img {
    max-width: 100%;
    height: auto;
    background: #C4C4C4;
}

.center-form {
    max-width: 920px;
    width: 58%;
    margin: 0 auto;
}

.form-wrapper {
    max-width: 892px;
    background: #FFFFFF;
    border: 1px solid #D9ECF6;
    box-sizing: border-box;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 0 72px 0 162px;
    margin: 0 auto;
}

.h-row {
    display: flex;
    margin: 20px 0;
}

.mobile-only {
    display: none;
}

.logo-div {
    text-align: right;
    width: 90px;
    flex: 1;
}

.logo-text-div {
    width: 710px;
}

.m-intro {
    margin-left: 10px;
    margin-top: 14px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.yellow-text {
    color: #FFA600;
}

.sufer-seo-area1 {
    margin: 20px 0;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.sufer-text {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    padding: .5rem 0;
    border: 1px solid #C5DFED;
}

.search-course-area1 {
    text-align: center;
    margin: 20px 0;
    background: #FFFFFF;
    /* border: 1px solid #C5DFED; */
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.course-text {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #C5DFED;
}

#serp_preview {
    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#mofo_serp_title {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #3600A8;
}

.arrow_container {
    position: relative;
    color: rgb(128, 128, 128);
    display: none;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: auto;
    line-height: 16px;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 1px;
    position: relative;
    text-align: left;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}

#mofo_serp_url {
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

#serp_meta {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 1.58;
    color: #545454;
    font-size: 14px;
    font-family: arial, sans-serif;
    width: 600px;
    word-wrap: break-word;
    display: inline-block;
}

.input-row-group {
    width: 100%;
}

.ht-title,
.ht-desc,
.ht-url {
    width: 100%;
    display: flex;
    flex-wrap: no-wrap;
}

.ht-title>input,
.ht-desc>textarea,
.ht-url>input {
    width: 560px;
    background: #FAFAFA;
    box-shadow: unset !important;
}

.ht-title>input:focus,
.ht-desc>textarea:focus,
.ht-url>input:focus {
    outline: none !important;
    border: 2px solid #FFA600;
    /* box-shadow: 0 0 10px #719ECE; */
    background: #FAFAFA;
    box-sizing: border-box;
    border-radius: 8px;
}

.ht-title>div {
    flex: 1;
    margin-left: 10px;
    line-height: 48px;
}

.pixel_counting_div {
    margin-left: 10px;
    line-height: 84px;
}

.ht-url .pixel_counting_div {
    margin-left: 10px;
    line-height: 48px;
}

.alert {
    color: red;
    padding: unset;
}

.control-width {
    width: 86%;
    max-width: 560px;
    height: 48px;
    border-radius: 8px;
}

.control-width2 {
    width: 86%;
    max-width: 560px;
    height: 84px;
    border-radius: 8px;
}

.counter_div {
    width: 14%;
}

#title_length,
#url_length {
    line-height: 48px;
    padding-left: 8px;
    width: 75px;
    height: 20px;
}

#meta_desc_length {
    line-height: 84px;
    padding-left: 8px;
    width: 75px;
    height: 20px;
}

.control-width2 {
    width: 95%;
    max-width: 560px;
    height: 84px;
    display: inline-block;
}

#top_bar {
    position: relative;
    background-color: #fafafa;
    height: 122px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

#google_logo {
    position: absolute;
    top: 39%;
    width: 90px;
    margin-top: -14px;
    margin-left: 25px;
}

#mofo_search_div {
    height: 122px;
    max-width: 689px;
    position: relative;
    left: 160px;
}

#mofo_search_area {
    margin-top: 14px;
    width: 689px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 100px;
    margin-left: 13px;
    display: flex;
}

.mofo_input_area {
    width: 520px;
    height: 50px;
    border: none;
    border-radius: 100px;
    padding-left: 25px;
}

#mofo_search_area>input:focus {
    outline: none !important;
}

#mofo_search_input {
    background-color: #fff;
    height: 34px;
    max-width: 630px;
    margin-top: 30px;
    top: 49%;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
    transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1);
}

#mofo_search_categories {
    width: 100%;
}

#mofo_serp_preview {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.mobile_cat {
    margin-right: 10px !important;
}

#mofo_serp_result {
    margin-left: 200px;
    margin-top: 50px;
    max-width: 600px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.mofo_search_cat {
    color: #777;
    font-weight: 400;
    font-family: arial, sans-serif;
    font-size: 13px;
    bottom: -7px;
    text-align: center;
    height: 48px;
    margin-bottom: -10px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    line-height: 48px;
    cursor: pointer;
    float: left;
    position: relative;
}

.mode_cat {
    color: #aaa;
    font-weight: 400;
    font-family: arial, sans-serif;
    font-size: 13px;
    bottom: -7px;
    text-align: center;
    height: 48px;
    margin-bottom: -10px;
    padding-left: 10px;
    padding-right: 0px;
    vertical-align: middle;
    line-height: 10px;
    cursor: pointer;
    float: right;
    position: relative;
    padding-top: 9px;
}

.snippet-area {
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.snippet-area .snippet-left {
    width: 50%;
}

.snippet-area .snippet-left .snippet-header {
    width: 100%
}

.snippet-area .snippet-left .snippet-header .h-title {
    font-family: Poppins;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 34px !important;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 0 24px 0;
}

.snippet-area .snippet-left .snippet-textarea {
    width: 100%;
}

.snippet-area .snippet-left .snippet-textarea .f-content,
.snippet-area .snippet-left .snippet-textarea .f-content1 {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F4F4F;
    padding: 0px 0 9px 0;
}

.snippet-right {
    width: 50%;
}

.snippet-right .snippet-area-img {
    position: relative;
    max-width: 438.68px;
    width: 100%;
    height: 235.97px;
    top: 200px;
    left: 100px;
}

.google-snippet-part {
    width: 100%;
    margin: auto;
}

.google-snippet-part .snippet-part-title {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.google-snippet-part .snippet-part-text {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.character {
    width: 100%;
    margin: auto;
    display: flex;
}

.character .character-left {
    width: 50%;
}

.character .character-left .character-part-img1 {
    vertical-align: top;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: 20px;
}

.character .character-right .character-part-img2 {
    vertical-align: top;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-top: 20px;
}

.character-part-text-left {
    width: 90%;
    position: relative;
    left: 12px;
    display: inline-block;
}

.character .character-right {
    width: 50%;
    display: flex;
    margin-left: 20px;
    flex-direction: row;
}

.character .character-right .character-part-text-right {
    position: relative;
    left: 20px;
}

.meta-desc-area {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.meta-desc-area .meta-left {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.meta-left>.box {
    z-index: 2;
    margin-left: 20px;
    max-width: 336px;
    min-height: 305px;
}

.meta-left>.cloud_image {
    position: absolute;
    max-width: 400.26px !important;
    height: 249.57px;
    z-index: 1 !important;
    bottom: 0;
    left: 0;
    top: 180;
}

.meta-desc-area .meta-right {
    width: 50%;
}

.meta-desc-area .meta-right .meta-title {
    margin: 30px 0 30px 0;
}

.meta-area-img {
    width: 100%;
    margin-left: -200px;
}

.rich-area {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 30px 0;
}

.rich-area .rich-left {
    width: 50%;
}

.rich-area .rich-right {
    width: 50%;
    margin-top: 30px;
}

.url-area {
    width: 100%;
    margin: auto;
    display: flex;
    padding-top: 10px;
}

.url-area .url-left {
    width: 50%;
    padding: 25px 0;
    margin-top: 30px;
}

.url-area .url-right {
    width: 50%;
}

.pixel-area {
    width: 100%;
    margin: auto;
    padding-top: 10px;
    display: flex;
}

.pixel-area .pixel-left {
    width: 50%;
    padding: 25px 0;
}

.pixel-area .pixel-right {
    width: 50%;
    padding: 0 0 0 100px;
}

.disclaimer-area {
    width: 100%;
    max-width: 932px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 44px 0;
}

.disclaimer-area .disclaimer-title {
    color: red;
    width: 100%;
    text-align: center;
    color: red;
    width: 100%;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}

.disclaimer-area .disclaimer-content {
    font-family: Poppins;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.disclaimer-title-area {
    padding: 10px 0;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 1300px;
    margin: auto;
    color: #E0E0E0;
}

.footer-area {
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.footer-content-area {
    padding: 0 190px;
}

.footer-logo {
    float: left;
}

.footer-content {
    float: right;
    padding: 40px 0;
}

.m-drop {
    display: none;
}

@media ( max-width: 1440px) {
    .topnav {
        display: flex;
        max-width: 820px;
        margin: 0 auto;
        width: 100%;
    }
    .input-group-text1,
    .input-group-text2 {
        display: flex;
        margin: 10px 0;
    }
    .cb-label-txt {
        margin-left: 10px;
        display: inline-block;
    }
    .form-wrapper {
        max-width: 892px;
        background: #FFFFFF;
        border: 1px solid #D9ECF6;
        box-sizing: border-box;
        box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        padding: 0 62px 0 80px;
        margin: 0 auto;
    }
    .character-part-img1,
    .character-part-img2 {
        margin-top: 20px;
        display: inline-block;
        vertical-align: top;
    }
    .character-part-text-right,
    .character-part-text-left {
        display: inline-block;
    }
    .rich-textarea {
        margin-right: 14px;
    }
    #search_div {
        margin-left: 160px;
        max-width: 630px;
        height: 122px;
    }
    #mofo_serp_result {
        margin-left: 142px;
        margin-top: 50px;
        max-width: 600px;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
    }
    #mofo_search_div {
        height: 122px;
        max-width: 665px;
        position: relative;
        left: 128px;
    }
    #mofo_serp_result {
        margin-left: 100px;
        margin-top: 50px;
        max-width: 600px;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
    }
    #mofo_search_area {
        display: flex;
        margin-top: 14px;
        width: 653px;
        background: #FFFFFF;
        border: 1px solid #CACACA;
        box-sizing: border-box;
        border-radius: 100px;
        margin-left: 19px;
    }
    .mofo_input_area {
        width: 75%;
        height: 50px;
        border: none;
        border-radius: 100px;
        padding-left: 25px;
    }
    .pixel-area .pixel-right {
        width: 50%;
        padding: 0px 0 0 80px;
    }
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        width: 906px;
        margin: auto;
        color: #E0E0E0;
    }
}

@media ( max-width: 1024px) {
    .topnav {
        display: flex;
        padding: -2px 262px 0 369px;
        max-width: 820px;
        margin: 0 auto;
        width: 100%;
    }
    .form-wrapper {
        padding: 0 16px 0 16px;
    }
    #mofo_search_area {
        margin-top: 22px;
        width: 440px;
        background: #FFFFFF;
        border: 1px solid #CACACA;
        box-sizing: border-box;
        border-radius: 100px;
        margin-left: 19px;
    }
    .mofo_input_area {
        width: 69%;
        height: 50px;
        border: none;
        border-radius: 100px;
        padding-left: 25px;
    }
    .mofo_search_cat {
        color: #777;
        font-weight: 400;
        font-family: arial, sans-serif;
        font-size: 13px;
        bottom: -7px;
        text-align: center;
        height: 48px;
        margin-bottom: -10px;
        padding-left: 11px;
        /* padding-right: 20px; */
        vertical-align: middle;
        line-height: 48px;
        cursor: pointer;
        float: left;
        position: relative;
    }
}

@media ( max-width: 768px) {
    .topnav {
        padding: 4px 0 0 19px !important;
    }
    #myLinks {
        display: none;
    }
    .fa {
        display: block !important;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .m-drop {
        display: none;
        border-top: 1px solid #2F2F2F;
        padding: 0 20px
    }
    .m-drop .responsive {
        display: block;
    }
    .m-drop ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }
    .m-drop ul li {
        padding: 18px 0 0 0;
    }
    .m-drop ul li a {
        text-decoration: none;
        color: #353535;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .advs-left,
    .advs-right {
        display: none;
    }
    .center-form {
        padding: 0 10px;
        width: 100%;
    }
    .input-row-group {
        padding: 0 10px;
        position: relative;
        width: 100%;
    }
    .ht-title,
    .ht-desc,
    .ht-url {
        width: 100%;
        display: inline-block;
    }
    .s-width2 {
        margin-right: 40px;
    }
    .input-group-text1,
    .input-group-text2 {
        padding: 0 10px !important
    }
    .Rich_Snippet {
        margin-left: 10px !important;
    }
    #mofo_serp_preview {
        padding: 0 10px;
        width: 100%;
        border: 1px solid #C5DFED;
        box-sizing: border-box;
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
    #search_div {
        margin-left: 100px;
        max-width: 570px;
        height: 122px;
    }
    #google_logo {
        position: absolute;
        width: 90px;
        top: 22%;
        padding: 10px;
        margin: 0 5px;
    }
    #search_input {
        margin-top: 42px;
        width: 100%;
    }
    #mofo_serp_result {
        margin: 0px 10px;
        background: #FFFFFF;
    }
    .snippet-area,
    .meta-desc-area,
    .rich-area,
    .url-area,
    .pixel-area,
    .disclaimer-area {
        width: 100%;
    }
    .snippet-left {
        width: 100%;
    }
    .snippet-right {
        width: 100%;
    }
    #rich_div {
        margin-top: 10px;
        font-size: small;
        color: gray;
        font-family: arial, sans-serif;
    }
    hr {
        width: 600px;
        margin: 0 auto;
    }
}

@media ( max-width: 450px) {
    .google-logo-part {
        width: 60px;
        height: 60px;
        margin-top: -6px;
    }
    .ht-title>input,
    .ht-desc>textarea,
    .ht-url>input {
        width: 100%;
        background: #FAFAFA;
        box-shadow: unset !important;
    }
    .pixel_counting_div span {
        display: none;
    }
    .m-intro {
        margin-left: 10px;
        margin-top: 14px;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }
    .input-row-group {
        padding: 0;
        position: relative;
        width: 100%;
    }
    .center-form {
        padding: 0px 8px;
        width: 100%;
    }
    .form-wrapper {
        padding: 0 16px 0 16px;
    }
    #google_logo {
        width: 90px;
        display: block;
        margin: 0;
        position: relative;
        top: 0;
    }
    #mofo_search_area {
        display: flex;
        width: 95%;
        margin: 0 auto;
        height: 40px;
        border: 1px solid #CACACA;
        margin-bottom: 10px;
    }
    #mofo_search_div {
        position: relative;
        width: 100%;
        left: 0;
    }
    .mofo_input_area {
        width: 50%;
        height: 34px;
        border: none;
        border-radius: 85px;
        /* padding-left: 25px; */
    }
    .vertical-ads {
        display: block;
    }
    #mofo_search_categories {
        width: 100%;
        height: 73px;
        display: flex;
        overflow-x: scroll;
    }
    #mofo_serp_result {
        margin: 72px 10px;
        background: #FFFFFF;
    }
    .vertical-ads .ads-img {
        display: table;
        margin: 20px auto;
    }
    .mobile-svg {
        width: 100%;
        display: block;
    }
    .snippet-area .snippet-left {
        width: 100%;
    }
    .snippet-right {
        display: none;
    }
    .character {
        width: 100%;
        display: block;
    }
    .character .character-left {
        width: 100%;
    }
    .character .character-right {
        width: 100%;
        margin: 0;
    }
    .meta-desc-area {
        display: block;
    }
    .meta-desc-area .meta-right {
        width: 100%;
    }
    .rich-area .rich-left {
        width: 100%;
    }
    .rich-area .rich-right {
        display: none;
    }
    .url-area {
        display: block;
    }
    .url-area .url-right {
        width: 100%;
    }
    .pixel-area .pixel-right {
        display: none;
    }
    .pixel-area .pixel-left {
        width: 100%;
        padding: 25px 0;
    }
    hr {
        height: 1px;
        width: 80%;
    }
    .disclaimer-area {
        padding: 0;
    }
    .footer-content-area {
        padding: 0 10px;
        display: grid;
    }
    .footer-content {
        padding: 0;
    }
    .mobile-svg img {
        width: 100%;
        margin: 20px auto;
    }
    .url-area-img {
        width: 100%;
    }
    #mofo_serp_result_mobile {
        width: 100% !important;
    }
    .url-left {
        display: none;
    }
    .meta-area-img {
        width: 100%;
        margin: 20px auto;
    }
    #top_bar {
        position: relative;
        background-color: #fafafa;
        height: 160px;
        border-bottom: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;
    }
    .mofo_search_cat {
        line-height: 24px;
    }
    .character-part-text-right {
        margin-left: 20px;
        left: 0 !important;
    }
}


/************End Comment Mode**************/